# Pandas - data structures

Pandas have three data structures dataframe, series & panels. 
We mostly use dataframe and series and they both use indexes, which make them very convenient to analyse.

## Series

In [2]:
import numpy as np
import pandas as pd

### Series without headers

In [12]:
list = [10, 20, 30, 40, 50]
s1 = pd.Series(list)
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Series with headers

In [3]:
dict = {'A' : [1 ,2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e'], 'NUM': [0, 0, 0, 0, 0 ]}
s2 = pd.Series(dict)
s2

A      [1, 2, 3, 4, 5]
B      [a, b, c, d, e]
NUM    [0, 0, 0, 0, 0]
dtype: object

In [4]:
type(s2)

pandas.core.series.Series

#### Series to list

In [13]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [14]:
l1 = s1.to_list()
l1

[10, 20, 30, 40, 50]

In [ ]:
type(

### DataFrames

In [5]:
np.random.seed(100)

In [3]:
df1 = pd.DataFrame(np.random.randn(5,3), columns=['A', 'B' ,'C'])
df1

          A         B         C
0 -0.185627 -0.578047  0.715824
1 -0.531422  0.142120  1.058790
2  3.199586  0.468567 -2.163004
3 -1.688863 -0.511078 -1.526746
4 -0.455099  0.106923 -0.214462

In [7]:
type(df1)

pandas.core.frame.DataFrame

#### Selecting elements (rows & columns)

In [8]:
s1 = df1['A'] # selecting a single column becomes a Series
s1

0   -1.749765
1   -0.252436
2    0.221180
3    0.255001
4   -0.583595
Name: A, dtype: float64

In [9]:
type(s1)

pandas.core.series.Series

#### Info about types of the columns

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      float64
 1   B       5 non-null      float64
 2   C       5 non-null      float64
dtypes: float64(3)
memory usage: 248.0 bytes