# Pandas - data structures

## Series

In [1]:
import numpy as np
import pandas as pd

### Series without headers

In [3]:
list = [10, 20, 30, 40, 50]
s1 = pd.Series(list)
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Series with headers

In [4]:
dict = {'A' : [1 ,2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e'], 'NUM': [0, 0, 0, 0, 0 ]}
s2 = pd.Series(dict)
s2

A      [1, 2, 3, 4, 5]
B      [a, b, c, d, e]
NUM    [0, 0, 0, 0, 0]
dtype: object

### DataFrames

In [3]:
np.random.seed(100)

In [4]:
df1 = pd.DataFrame(np.random.randn(5,3), columns=['A', 'B' ,'C'])
df1

          A         B         C
0 -1.749765  0.342680  1.153036
1 -0.252436  0.981321  0.514219
2  0.221180 -1.070043 -0.189496
3  0.255001 -0.458027  0.435163
4 -0.583595  0.816847  0.672721

#### Selecting elements (rows & columns)