# Pandas - Basic Operations

### DataFrame - deep copy

In [1]:
import pandas as pd

In [2]:
dict = {'A' : [1 ,2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e'], 'NUM': [0, 0, 0, 0, 0 ]}
df1 = pd.DataFrame(dict)
df1

   A  B  NUM
0  1  a    0
1  2  b    0
2  3  c    0
3  4  d    0
4  5  e    0

In [3]:
df2 = df1.copy() # deep copy is the default option
df2

   A  B  NUM
0  1  a    0
1  2  b    0
2  3  c    0
3  4  d    0
4  5  e    0

### DataFrame - shallow copy

In [5]:
df3 = df1.copy(deep = False) # 
df3

   A  B  NUM
0  1  a    0
1  2  b    0
2  3  c    0
3  4  d    0
4  5  e    0

### Add a new column

In [6]:
df2['NEW'] = [100]
df2

ValueError: Length of values (1) does not match length of index (5)