# Pandas - using 'iloc'

In [2]:
import pandas as pd

In [6]:
dict = {'A' : [1 ,2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e'], 'NUM': [100, 200, 300, 400, 500 ]}
df1 = pd.DataFrame(dict)
df1

   A  B  NUM
0  1  a  100
1  2  b  200
2  3  c  300
3  4  d  400
4  5  e  500

#### iloc[index] - to select rows

In [9]:
i0 = df1.iloc[0] # returns row with index 0 as pdSeries object
print(type(i0))
print(i0)

<class 'pandas.core.series.Series'>
A        1
B        a
NUM    100
Name: 0, dtype: object

In [14]:
out = df1.iloc[3:] # returns all rows with index >= 3
out

   A  B  NUM
3  4  d  400
4  5  e  500

In [15]:
out = df1.iloc[:3] # returns all rows with index < 3
out

   A  B  NUM
0  1  a  100
1  2  b  200
2  3  c  300

In [16]:
out = df1.iloc[:, :2] # returns all rows and columns with index < 2
out

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

In [17]:
out = df1.iloc[2:, 1:2] # returns rows >= 2 and columns with index >= 1 & index < 2 
out

   B
2  c
3  d
4  e