# Pandas - Advanced Functions

In [1]:
import pandas as pd

### Itertuples - iterator over DataFrame rows a named tuples

In [2]:
d = {'x' : [1, 0, 1, 0], 'y': [0, 0, 1, 1]}
df = pd.DataFrame(d)
df

   x  y
0  1  0
1  0  0
2  1  1
3  0  1

In [7]:
itertuples = df.itertuples()
type(itertuples)

map

In [8]:
for i in itertuples:
    print(i)

Pandas(Index=0, x=1, y=0)
Pandas(Index=1, x=0, y=0)
Pandas(Index=2, x=1, y=1)
Pandas(Index=3, x=0, y=1)

In [9]:
r = range(1,2)
for i in r:
    print(i)

1

In [10]:
m = map(lambda l : l*2, [1,2,3])
m

### any()

In [ ]:
xx =  (x != 0).any(axis=1)
# xx = x.loc[:, (x != 0).any(axis=0)]
# pd = pd.loc[:, (tmp != 0).any(axis=0)]
xx