# SKLearn - One Hot Encoding

In [1]:
import numpy as np
import pandas as pd

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
X = np.array([["a"] * 4 + ["b"] * 8 + ["c"] * 6 + ["d"] * 3], dtype=object).T
X

array([['a'],
       ['a'],
       ['a'],
       ['a'],
       ['b'],
       ['b'],
       ['b'],
       ['b'],
       ['b'],
       ['b'],
       ['b'],
       ['b'],
       ['c'],
       ['c'],
       ['c'],
       ['c'],
       ['c'],
       ['c'],
       ['d'],
       ['d'],
       ['d']], dtype=object)

In [11]:
dict = {'TYPE': ['a', 'a', 'b', 'c', 'c', 'c', 'd'], 'NUM': [0, 0, 0, 0, 0, 0, 0 ]}

In [12]:
df = pd.DataFrame(dict)
df

  TYPE  NUM
0    a    0
1    a    0
2    b    0
3    c    0
4    c    0
5    c    0
6    d    0

In [14]:
df_t = pd.get_dummies(df, prefix=['T_'], columns = ['TYPE'])
df_t

   NUM  T__a  T__b  T__c  T__d
0    0     1     0     0     0
1    0     1     0     0     0
2    0     0     1     0     0
3    0     0     0     1     0
4    0     0     0     1     0
5    0     0     0     1     0
6    0     0     0     0     1

In [5]:
enc = OneHotEncoder()

In [6]:
enc.fit(X)

OneHotEncoder()

In [7]:
enc.categories_

[array(['a', 'b', 'c', 'd'], dtype=object)]